
body {
    font-family: 'Garamond', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../img/album.jpeg') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
    color: #ffffff;
}


header {
    background-color: #1f1f1f;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-ruta {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-ruta a {
    text-decoration: none;
    color: #697565;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu-ruta a:hover {
    background-color: #697565;
    color: #ffffff;
}

.menu-ruta span {
    font-size: 1rem;
    color: #cccccc;
}

.logo-detalle {
    width: 40px;
    height: 40px;
    object-fit: contain;
}


.detalle-producto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px auto;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 900px;
    width: 90%;
}

.detalle-producto img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.info-producto {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
}

.info-producto h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.info-producto p {
    font-size: 1rem;
    color: #cccccc;
    margin: 5px 0;
}

.cantidad {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px 0;
}

.cantidad input {
    width: 50px;
    text-align: center;
    border: 1px solid #3C3D37;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
}


button {
    padding: 10px 20px;
    background-color: #3C3D37;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #697565;
    transform: scale(1.05);
}


@media (max-width: 600px) {
    .detalle-producto {
        flex-direction: column;
        align-items: center;
    }

    .detalle-producto img {
        max-width: 100%;
        height: auto;
    }

    .info-producto {
        text-align: center;
    }
}
